.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.menu {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .menu {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .menu-header {
    float: left;
  }
}
.menu-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.menu-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .menu-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .menu-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .menu-collapse.in {
    overflow-y: visible;
  }
  .menu-fixed-top .menu-collapse,
  .menu-static-top .menu-collapse,
  .menu-fixed-bottom .menu-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.menu-fixed-top .menu-collapse,
.menu-fixed-bottom .menu-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .menu-fixed-top .menu-collapse,
  .menu-fixed-bottom .menu-collapse {
    max-height: 200px;
  }
}
.container > .menu-header,
.container-fluid > .menu-header,
.container > .menu-collapse,
.container-fluid > .menu-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .menu-header,
  .container-fluid > .menu-header,
  .container > .menu-collapse,
  .container-fluid > .menu-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.menu-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .menu-static-top {
    border-radius: 0;
  }
}
.menu-fixed-top,
.menu-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .menu-fixed-top,
  .menu-fixed-bottom {
    border-radius: 0;
  }
}
.menu-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.menu-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.menu-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.menu-brand:hover,
.menu-brand:focus {
  text-decoration: none;
}
.menu-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .menu > .container .menu-brand,
  .menu > .container-fluid .menu-brand {
    margin-left: -15px;
  }
}
.menu-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.menu-toggle:focus {
  outline: 0;
}
.menu-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.menu-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-nav {
  margin: 7.5px -15px;
}
.menu-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .menu-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .menu-nav .open .dropdown-menu > li > a,
  .menu-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .menu-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .menu-nav .open .dropdown-menu > li > a:hover,
  .menu-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .menu-nav {
    float: left;
    margin: 0;
  }
  .menu-nav > li {
    float: left;
  }
  .menu-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.menu-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .menu-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .menu-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .menu-form .form-control-static {
    display: inline-block;
  }
  .menu-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .menu-form .input-group .input-group-addon,
  .menu-form .input-group .input-group-btn,
  .menu-form .input-group .form-control {
    width: auto;
  }
  .menu-form .input-group > .form-control {
    width: 100%;
  }
  .menu-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .menu-form .radio,
  .menu-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .menu-form .radio label,
  .menu-form .checkbox label {
    padding-left: 0;
  }
  .menu-form .radio input[type="radio"],
  .menu-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .menu-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .menu-form .form-group {
    margin-bottom: 5px;
  }
  .menu-form .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .menu-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.menu-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.menu-fixed-bottom .menu-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.menu-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.menu-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.menu-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .menu-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .menu-left {
    float: left !important;
  }
  .menu-right {
    float: right !important;
    margin-right: -15px;
  }
  .menu-right ~ .menu-right {
    margin-right: 0;
  }
}
.menu-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.menu-default .menu-brand {
  color: #777;
}
.menu-default .menu-brand:hover,
.menu-default .menu-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.menu-default .menu-text {
  color: #777;
}
.menu-default .menu-nav > li > a {
  color: #777;
}
.menu-default .menu-nav > li > a:hover,
.menu-default .menu-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.menu-default .menu-nav > .active > a,
.menu-default .menu-nav > .active > a:hover,
.menu-default .menu-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.menu-default .menu-nav > .disabled > a,
.menu-default .menu-nav > .disabled > a:hover,
.menu-default .menu-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.menu-default .menu-toggle {
  border-color: #ddd;
}
.menu-default .menu-toggle:hover,
.menu-default .menu-toggle:focus {
  background-color: #ddd;
}
.menu-default .menu-toggle .icon-bar {
  background-color: #888;
}
.menu-default .menu-collapse,
.menu-default .menu-form {
  border-color: #e7e7e7;
}
.menu-default .menu-nav > .open > a,
.menu-default .menu-nav > .open > a:hover,
.menu-default .menu-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555;
}
@media (max-width: 767px) {
  .menu-default .menu-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .menu-default .menu-nav .open .dropdown-menu > li > a:hover,
  .menu-default .menu-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .menu-default .menu-nav .open .dropdown-menu > .active > a,
  .menu-default .menu-nav .open .dropdown-menu > .active > a:hover,
  .menu-default .menu-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .menu-default .menu-nav .open .dropdown-menu > .disabled > a,
  .menu-default .menu-nav .open .dropdown-menu > .disabled > a:hover,
  .menu-default .menu-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.menu-default .menu-link {
  color: #777;
}
.menu-default .menu-link:hover {
  color: #333;
}
.menu-default .btn-link {
  color: #777;
}
.menu-default .btn-link:hover,
.menu-default .btn-link:focus {
  color: #333;
}
.menu-default .btn-link[disabled]:hover,
fieldset[disabled] .menu-default .btn-link:hover,
.menu-default .btn-link[disabled]:focus,
fieldset[disabled] .menu-default .btn-link:focus {
  color: #ccc;
}
.menu-inverse {
  background-color: #222;
  border-color: #080808;
}
.menu-inverse .menu-brand {
  color: #9d9d9d;
}
.menu-inverse .menu-brand:hover,
.menu-inverse .menu-brand:focus {
  color: #fff;
  background-color: transparent;
}
.menu-inverse .menu-text {
  color: #9d9d9d;
}
.menu-inverse .menu-nav > li > a {
  color: #9d9d9d;
}
.menu-inverse .menu-nav > li > a:hover,
.menu-inverse .menu-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.menu-inverse .menu-nav > .active > a,
.menu-inverse .menu-nav > .active > a:hover,
.menu-inverse .menu-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.menu-inverse .menu-nav > .disabled > a,
.menu-inverse .menu-nav > .disabled > a:hover,
.menu-inverse .menu-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.menu-inverse .menu-toggle {
  border-color: #333;
}
.menu-inverse .menu-toggle:hover,
.menu-inverse .menu-toggle:focus {
  background-color: #333;
}
.menu-inverse .menu-toggle .icon-bar {
  background-color: #fff;
}
.menu-inverse .menu-collapse,
.menu-inverse .menu-form {
  border-color: #101010;
}
.menu-inverse .menu-nav > .open > a,
.menu-inverse .menu-nav > .open > a:hover,
.menu-inverse .menu-nav > .open > a:focus {
  background-color: #080808;
  color: #fff;
}
@media (max-width: 767px) {
  .menu-inverse .menu-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .menu-inverse .menu-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .menu-inverse .menu-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .menu-inverse .menu-nav .open .dropdown-menu > li > a:hover,
  .menu-inverse .menu-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .menu-inverse .menu-nav .open .dropdown-menu > .active > a,
  .menu-inverse .menu-nav .open .dropdown-menu > .active > a:hover,
  .menu-inverse .menu-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .menu-inverse .menu-nav .open .dropdown-menu > .disabled > a,
  .menu-inverse .menu-nav .open .dropdown-menu > .disabled > a:hover,
  .menu-inverse .menu-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.menu-inverse .menu-link {
  color: #9d9d9d;
}
.menu-inverse .menu-link:hover {
  color: #fff;
}
.menu-inverse .btn-link {
  color: #9d9d9d;
}
.menu-inverse .btn-link:hover,
.menu-inverse .btn-link:focus {
  color: #fff;
}
.menu-inverse .btn-link[disabled]:hover,
fieldset[disabled] .menu-inverse .btn-link:hover,
.menu-inverse .btn-link[disabled]:focus,
fieldset[disabled] .menu-inverse .btn-link:focus {
  color: #444;
}